.Container {
	background-color: #28262c;
	height: 120px;
	width: auto;
}
.Text {
	color: #f9f5ff;
	display: inline;
}
.Text:hover {
	cursor: pointer;
	color: #d6d2dd;
}
@media (max-width: 480px) {
	.Text {
		font-size: 20px !important;
	}
}
